<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
     <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>  
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Datos de categorias</h2>
            <a th:href="@{/categoria/nuevo}">Nuevo categoria</a>

            <div th:if="${categorias != null and !categorias.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>Activo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="categoria:${categorias}">
                            <td>[[${categoria.descripcion}]]</td>
                            <td>[[${categoria.activo}]]</td>
                            <td><a th:href="@{/categoria/elimina/} + ${categoria.idCategoria}">Elimina</a></td>
                            <td><a th:href="@{/categoria/actualiza/} + ${categoria.idCategoria}">Actualiza</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${categorias == null or categorias.empty}">
                <h3>No tenemos categorias que mostar</h3>  
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
