<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>  
        <h2>Datos de cliente</h2>
        <a th:href="@{/}">Regresar</a>
        <hr/>
        <form th:action="@{/cliente/guardar}"
              method="post"
              th:object="${cliente}">
            
            <fieldset>
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" th:field="*{nombre}"/>
            </fieldset>
            
            <fieldset>
                <label for="apellidos">Apellidos:</label>
                <input type="text" name="Apellidos" th:field="*{apellidos}"/>
            </fieldset>
            
            <fieldset>
                <label for="correo">Correo:</label>
                <input type="email" name="correo" th:field="*{correo}"/>
            </fieldset>
            
            <fieldset>
                <label for="telefono">Teléfono:</label>
                <input type="tel" name="telefono" th:field="*{telefono}"/>
            </fieldset>
            <hr/>
            <input type="submit" name="guardar" value="guardar"/>
        </form>  
    </body>
</html>
